<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <weather_widget>
            <general_settings>
                <enabled>0</enabled>
                <data_cache_time>30</data_cache_time>
                <geo_api_url>https://ipwho.is/</geo_api_url>
                <weather_api_url>https://api.openweathermap.org/data/2.5/weather</weather_api_url>
            </general_settings>
        </weather_widget>
    </default>
</config>
