<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <weather_insurance>
            <general_settings>
                <enabled>0</enabled>
                <insurance_price>1</insurance_price>
                <scenario_list></scenario_list>
                <checkbox_label>Add delivery insurance</checkbox_label>
                <checkbox_description>test description</checkbox_description>
            </general_settings>
        </weather_insurance>
    </default>
</config>
