<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add custom data to window.checkoutConfig -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider"> <!--frontend area di for checkout -->
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="delivery_insurance_checkbox" xsi:type="object">Perspective\WeatherInsurance\Model\Checkout\InsuranceCheckboxConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
