<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective_tab" translate="label" sortOrder="1">
            <label>Perspective</label>
        </tab>

        <section id="weather_widget" sortOrder="111" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Weather Widget Config</label>
            <tab>perspective_tab</tab>
            <resource>Perspective_WeatherRecommendationWidget::config</resource> <!-- -->

            <group id="general_settings" sortOrder="1" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <attribute type="expanded">1</attribute>
                <label>General Settings</label>
                <field id="enabled" sortOrder="1" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="data_cache_time" sortOrder="1" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data caching time (min)</label>
                    <validate>validate-digits validate-not-negative-number validate-digits-range digits-range-30-10000</validate>
                    <comment>Please Set value in Minutes. Minimum value is 30</comment>
                </field>

                <field id="weather_api_key" sortOrder="1" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>weather_api_key (openweathermap)</label>
                </field>

                <field id="weather_api_url" sortOrder="1" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>weather_api_url</label>
                    <comment>Example: https://api.openweathermap.org/data/2.5/weather (Fields set programmatically)</comment>
                </field>

                <field id="geo_api_url" sortOrder="1" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>geo_api_url</label>
                    <comment>Example: https://ipwho.is/ (Fields set programmatically)</comment>
                </field>
            </group>

            <group id="weather_categories" sortOrder="1" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <attribute type="expanded">1</attribute>
                <label>Weather Categories</label>

                <field id="category_cold" sortOrder="1" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cold</label>
                    <source_model>Perspective\WeatherRecommendationWidget\Model\Config\Source\CategoryList</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="category_cool" sortOrder="1" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cool</label>
                    <source_model>Perspective\WeatherRecommendationWidget\Model\Config\Source\CategoryList</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="category_warm" sortOrder="1" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Warm</label>
                    <source_model>Perspective\WeatherRecommendationWidget\Model\Config\Source\CategoryList</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="category_hot" sortOrder="1" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hot</label>
                    <source_model>Perspective\WeatherRecommendationWidget\Model\Config\Source\CategoryList</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
